* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #2874f0;
    width: 100%;
    /* height: 10vh; */
}

nav {
    max-width: 80%;


    margin: auto;
    height: 8.5vh;
}



.left {
    width: 70%;
}

.right {
    width: 30%
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: .5px;
}

ul li {
    list-style: none;
    margin: 0px 5px;
}

.logo {
    width: 5.2vw;
    margin-right: 8px;
    margin-top: 0px;
}

.logo:hover {
    cursor: pointer;
}

.logo img {
    width: 3vw;
    margin-bottom: -16px;
}

.inp-1 {
    height: 5.2vh;
    width: 35vw;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1.5px;
    font-family: 'Roboto', sans-serif;
    padding: 0px 16px;
}

.Explore a {
    font-size: 11px;
    color: rgb(252, 237, 237);
    font-style: italic;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: 550;

}

.Explore span {
    color: #6df405;
    font-weight: 700;

}

.Explore img {
    width: .7vw;
    position: absolute;
    left: 62px;
    top: 2px;
}

.btn-1 {
    height: 4.5vh;
    width: 7.5vw;
    outline: none;
    border: none;
    margin-left: 30px;
    background: white;
    color: #7272f4;
    text-align: center;
    font-weight: 600;
    border-radius: 1.5px;
}

.btn-1:hover {
    cursor: pointer;
}



.search button {
    outline: none;
    border: none;
    position: absolute;

    left: 508px;

    bottom: 18px;
    height: 2vh;
}

.search button:hover {
    cursor: pointer;
}

.search button img {
    width: 1.6vw;
}

.button {
    margin-left: 20px;
}

#svg-1 {
    position: absolute;
    top: 2px;
    right: 37px;
}

.customer {
    /* margin: auto; */
    height: 35vh;
    width: 14vw;
    background: black;
    color: white;
    margin-left: 839px;
}

.c-info {


    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    font-family: 'Roboto', sans-serif;

}
cards{
    height: auto;
    width: auto;
    display: inline;
}

.bb-1 {
    height: 4.5vh;
    width: 7.5vw;
    outline: none;
    border: none;

    background: rgb(146, 66, 66);
    color: whitesmoke;
    text-align: center;
    font-weight: 600;
    border-radius: 1.5px;
    font-family: 'Roboto', sans-serif;

}
.bb-1:hover{
    cursor: pointer;
}

.p-1 {
    margin: 10px 0px;
}

.p-2 {
    margin: 10px 0px;
}
.cright{
    margin-top: 30px;
  width: 100%;
  height: 20vh;
  background-color: #7272f4;
  font-family: 'Roboto', sans-serif;

}